input {
  display: block;
  width: 100%;
  height: 34px;
  text-indent: 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px!important;
  position: relative;
  outline: none;
}

.input {
  position: relative;
}

.input:has(>input):after {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  color: #FFF;
  border-radius: 50%;
  font-size: 12px;
}

.input:has(>input:invalid):after {
  content: '྾';
  line-height: 13px;
  background-color: red;
}

.input:has(>input:valid):after {
  content: '✓';
  line-height: 16px;
  background-color: #4dbf2a;
}

input:invalid:required:after {
 content: "此项为必填项";
}

input[type="email"]:invalid:after {
 content: "请输入有效的电子邮件地址";
}

input[type="number"]:invalid:after {
 content: "请输入数字";
}