#_17_wrapper {
  border: 1px solid red;
  margin-top: 20px;
  border-radius: 10px;
  padding: 16px;
  height: 100px;
  display: flex;
  text-align: center;
}

#tab_nav_017 {
  display: flex;
  justify-content: space-between;
}
