.content {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 30px 0;
  padding: 20px;
  border-radius: 8px;
}

.content .list .item {
  margin-bottom: 20px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
  padding-bottom: 20px;
  transition: 0.3s;
}
.content .list .item:disabled {
  opacity: 0.5;
}

#btn_05_item {
  margin: 0 6px;
}
#btn_05_item.active {
  background-color: #646cff;
  color: #FFF;
}

._05_a_value_item {
  margin-top: 20px;
  transition: 0.3s;
}
