

._04_item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}
._04_list {
  transition: 0.3s;
}
._04_item h2 {
  font-size: 18px;
}

._04_item p {
  font-size: 16px;
}

#_04_input {
  margin-bottom: 20px;
  color: #dae76b;
}
