.dialog-wrapper {
  max-width: 520px;
  background-color: #FFF;
  margin: 80px auto;
  border-radius: 8px;
  padding: 20px 24px;
  animation-duration: 400ms;
  
  &.in {
    animation-name: dialog-show;
  }
  &.out {
    animation-name: dialog-hide;
  }
}

@keyframes dialog-show {
  0% {transform: scale(1); opacity: 0;}
  1% { transform: scale(0);}
  100% { transform: scale(1); opacity: 1; }
}
@keyframes dialog-hide {
  0% { transform: scale(1); opacity: 1; }
  100% { transform: scale(0); opacity: 0; }
}
