
html, body, #root {
  height: 100%;
  padding: 0!important;
}

html {
  font-size: 14px;
}

#wrapper {
  display: flex;
}

#side_nav {
  width: 250px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
}

#side_nav h2 {
  padding-left: 30px;
}

#side_ul {
  flex: 1;
  overflow-y: scroll;
  padding: 30px 0;
  scrollbar-width: thin;
  scrollbar-color: unset;
}

#side_nav li a {
  color: rgba(0, 0, 0, 0.88);
  display: block;
  height: 50px;
  transition: all 0.3s;
  text-align: left;
  padding-left: 30px;
  line-height: 50px;
}
#side_nav li a:hover {
  background-color: rgb(251, 245, 237);
  color: rgb(232, 158, 61);
}

#side_nav li a.active {
  background-color: antiquewhite;
  color: rgb(203, 120, 12);
  border-right: 2px solid rgb(203, 120, 12);
}

#playground {
  flex: 1;
  padding: 30px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

div {
  text-align: left;
}

#tips {
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  margin: 20px 0 20px;
}
