@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: #FFF;
    --color-text-muted: #c7d2f7;
    --color-text-inverted: #4f46e5;
    --color-fill: #4338ca;
    --color-button-accent: #FFF;
    --color-button-accent-hover: #eef2ff;
    --color-button-muted: 99, 102, 241;
  }
  .theme-swiss {
    --color-text-base: #FFF;
    --color-text-muted: #fecaca;
    --color-text-inverted: #dc2626;
    --color-fill: #b91c1c;
    --color-button-accent: #FFF;
    --color-button-accent-hover: #fef2f2;
    --color-button-muted: 239, 68, 68;
  }
  
  .theme-neon {
    --color-text-base: #111802;
    --color-text-muted: #2fc306;
    --color-text-inverted: #ebfacc;
    --color-fill: #b3ff17;
    --color-button-accent: #243403;
    --color-button-accent-hover: #374f05;
    --color-button-muted: 212, 255, 122;
  }
}

button {
  @apply rounded-md border border-solid border-transparent py-2 px-4 text-sm font-medium bg-gray-100
  cursor-pointer transition
}

button:hover {
  @apply bg-gray-200
}


@layer base {
  .keep p,
  .keep li {
    @apply text-[14px] text-gray-700 my-5 tracking-wider leading-8
  }
  .keep li {
    @apply my-4 border border-gray-100 leading-6 rounded-md px-4 py-3 text-[13px] border-b-cyan-300 relative;
  }
  .keep pre:not(.sp-pristine) {
    @apply my-4 text-sm rounded-md overflow-hidden border border-slate-200 p-1;
  }
  /* .keep pre:not(.sp-pristine):before {
    @apply content-['代码'] block bg-no-repeat pl-10 border-b py-2 bg-gray-100 text-gray-500;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZT0icmdiKDEwNywgMTE0LCAxMjgpIiBjbGFzcz0ic2l6ZS02Ij4KICA8cGF0aCBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGQ9Ik0xNy4yNSA2Ljc1IDIyLjUgMTJsLTUuMjUgNS4yNW0tMTAuNSAwTDEuNSAxMmw1LjI1LTUuMjVtNy41LTMtNC41IDE2LjUiIC8+Cjwvc3ZnPgo=');
    background-size: 1.25rem;
    background-position: 0.75rem center;
  } */
  .keep pre:not(.sp-pristine) div:first-child {
    @apply !bg-white !p-4 rounded-md leading-7;
  }
  /* 处理红色类型的异常提示 */
  .keep pre:has(> div > code.language-error) {
    @apply border-red-200 p-0;
  }
  .keep pre:has(> div > code.language-error):before {
    @apply content-['Error'] bg-red-100 text-red-500 block bg-no-repeat py-2 pl-10;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZT0icmdiKDIzOSwgNjgsIDY4KSIgY2xhc3M9InNpemUtNiI+CiAgPHBhdGggc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBkPSJNMTIgOXYzLjc1bS05LjMwMyAzLjM3NmMtLjg2NiAxLjUuMjE3IDMuMzc0IDEuOTQ4IDMuMzc0aDE0LjcxYzEuNzMgMCAyLjgxMy0xLjg3NCAxLjk0OC0zLjM3NEwxMy45NDkgMy4zNzhjLS44NjYtMS41LTMuMDMyLTEuNS0zLjg5OCAwTDIuNjk3IDE2LjEyNlpNMTIgMTUuNzVoLjAwN3YuMDA4SDEydi0uMDA4WiIgLz4KPC9zdmc+Cg==');
    background-size: 1.25rem;
    background-position: 0.75rem center;
  }
  .keep pre:not(.sp-pristine) div:first-child:has(> code.language-error) {
    @apply !bg-white !text-red-500
  }
  .keep pre div:has(> code.language-error) code {
    @apply !break-words !whitespace-pre-wrap
  }
  .keep pre div:has(> code.language-error) span {
    @apply !text-red-500
  }
  
  .keep p a {
    @apply underline text-blue-700;
  }

  
  .keep h1 {
    @apply my-10 font-bold text-2xl
  }
  .keep h2 {
    @apply my-12 font-bold text-lg
  }
  .keep h2 + p:has(> strong) {
    @apply text-green-600 mt-0 text-center mb-10;
    color: orangered;
  }

  /* blockquote 普通提示 */
  .keep blockquote {
    @apply bg-blue-50 px-4 my-5 py-0.5 rounded leading-6;
  }
  .keep blockquote:before {
    @apply content-['i'] w-5 h-5 text-white bg-blue-500 flex items-center justify-center rounded-full mt-4
  }
  .keep blockquote p {
    @apply mt-3 mb-4 text-gray-600;
    font-size: 13px;
  }
  .keep p code {
    @apply text-blue-700 text-sm
  }
  .keep h3 {
    @apply font-bold text-[15px] mt-6;
  }
  
  /*h2:not(:first-of-type):not(:last-of-type) {*/
  /*  @apply text-center mb-0;*/
  /*}*/
  .keep h2:has(+ p) {
    @apply text-center mb-1;
  }
  .keep h2:has(+ p):before,
  .keep h2:has(+ p):after {
    @apply inline-block font-normal;
    content: '__';
  }
  
  .keep hr {
    @apply border-t border-gray-100 my-12
  }


  .keepx pre:not(.sp-pristine) {
    @apply my-0 text-sm border-transparent overflow-hidden;
  }
  /* .keep pre:not(.sp-pristine):before {
    @apply content-['代码'] block bg-no-repeat pl-10 border-b py-2 bg-gray-100 text-gray-500;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZT0icmdiKDEwNywgMTE0LCAxMjgpIiBjbGFzcz0ic2l6ZS02Ij4KICA8cGF0aCBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGQ9Ik0xNy4yNSA2Ljc1IDIyLjUgMTJsLTUuMjUgNS4yNW0tMTAuNSAwTDEuNSAxMmw1LjI1LTUuMjVtNy41LTMtNC41IDE2LjUiIC8+Cjwvc3ZnPgo=');
    background-size: 1.25rem;
    background-position: 0.75rem center;
  } */
  .keepx pre:not(.sp-pristine) div:first-child {
    @apply !bg-white !p-3 rounded-md leading-7;
  }
}

::-webkit-scrollbar {
  display: none;
}

.decorationsOverviewRuler {
  display: none!important;
}
